.gallery__list {
  padding-bottom: 140px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 60px;
}

.item-one {
  grid-column: 1/4;
  grid-row: 1/2;
}

.item-two {
  grid-column: 1/2;
  grid-row: 2/3;
}

.item-three {
  grid-column: 2/3;
  grid-row: 2/3;
}

.item-four {
  grid-column: 3/4;
  grid-row: 2/3;
}

.item-five {
  grid-column: 1/3;
  grid-row: 3/4;
}

.item-six {
  grid-column: 3/4;
  grid-row: 3/4;
}

/* item-one */

.item-netbook {
  background-image: url("/img/jpg/netbook.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px;
}

.item-netbook__text {
  font-weight: 700;
  font-size: 70px;
  line-height: 130%;
  padding-top: 145px;
  padding-left: 112px;
  margin-bottom: 100px;
  color: #fff;
}

.item-netbook__content {
  max-width: 26%;
  margin: 0 auto;
  padding-bottom: 40px;
  align-items: center;
  color: #fff;
  font-weight: 700;
}

.item-netbook__content-text {
  font-size: 16px;
  line-height: 130%;
  text-align: center;
}

.item-netbook__timer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-netbook__timer-number {
  font-size: 60px;
  line-height: 130%;
  padding-right: 6px;
}

.item-netbook__timer-text {
  font-size: 32px;
  line-height: 130%;
}

.item-netbook__timer-text:not(:last-child) {
  padding-right: 30px;
}

/* item-two */

.item-two__list {
  display: grid;
  grid-template-columns: minmax(135px, 245px) minmax(135px, 245px);
  grid-template-rows:  minmax(135px, 245px) minmax(135px, 245px);
  gap: 40px 60px;
}

.item-two__list > li,
.item-four__list > li {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
}

.item-book {
  max-width: 245px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-image: url('/img/jpg/book.jpg');
}

.item-book__text {
  font-size: 30px;
  line-height: 39px;
  padding-top: 40%;
  padding-left: 12%;
  padding-right: 20%;
}

.item-book__text>span {
  font-size: 40px;
}

.item-time {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-image: url("/img/jpg/time.jpg");
}

.item-time__text {
  font-size: 30px;
  line-height: 39px;
  padding-top: 35%;
  text-align: center;
}

.discount {
  position: absolute;
  width: 88px;
  height: 88px;
  background-color: #FFBD13;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  line-height: 39px;
  border-radius: 50%;
  padding-top: 25px;
} 

.item-time__discount {
  bottom: 20px;
  right: 20px;
}

li.item-shoes {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  background-image: url("/img/jpg/shoes.jpg");
}

.item-shoes__discount {
  top: 30px;
  left: 30px;
}

/* item-three */

.item-pair {
  max-height: 516px;
  background-image: url("/img/jpg/pair.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  position: relative;
  border-radius: 20px;
}

.item-pair__text {
  position: absolute;
  bottom: 20px;
  left: 35px;
  font-size: 40px;
  line-height: 48px;
  max-width: 476px;
  max-height: 187px;
  padding: 24px 21px;
  background: #38C0EB;
  border-radius: 20px;
}

.item-pair__text > span {
  font-size: 48px;
}

/* item-four */

.item-four__list {
  display: grid;
  grid-template-rows:  minmax(135px, 228px) minmax(135px, 228px);
  gap: 60px;
}

.item-present {
  grid-row: 1 / 2;
  background-image: url('/img/jpg/present.jpg');
}

.item-present__text {
  max-width: 345px;
  font-size: 40px;
  line-height: 52px;
  padding-top: 94px;
  padding-left: 30px;
}

.item-december {
  grid-row: 2 / 3;
  background-image: url('/img/jpg/december.jpg');
}

.item-december__text {
  font-size: 40px;
  line-height: 52px;
  max-width: 400px;
  padding-top: 130px;
  padding-left: 30px;
}

.item-december__discount {
  right: 20px;
  bottom: 20px;
}

/* item-five */

.item-decoration {
  background-image: url("/img/jpg/decoration.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  border-radius: 20px;
  height: 516px;
  position: relative;
}

.item-decoration__text {
  position: absolute;
  bottom: 50px;
  left: 50px;
  padding: 40px 30px;
  border-radius: 20px;
  background-color: #fff;
  color: #F91155;
  font-size: 40px;
  line-height: 48px;
}

/* item-six */

.item-six__list {
  display: grid;
  grid-template-columns: minmax(135px, 245px) minmax(135px, 245px);
  grid-template-rows:  minmax(135px, 245px) minmax(135px, 245px);
  gap: 26px 60px;
}

.item-six__list> li {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  border-radius: 20px;
}

.item-dress {
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url('/img/jpg/dress.jpg');
  position: relative;
}

.item-dress__discount {
  right: 20px;
  bottom: 20px;
}

.item-chemistry {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: url("/img/jpg/chemistry.jpg");
}

.item-chemistry__text {
  font-size: 30px;
  line-height: 39px;
  padding-top: 130px;
  padding-left: 30px;
}

.item-chemistry__discount {
  top: 20px;
  left: 20px;
}


.item-toy {
  grid-column: 2/3;
  grid-row: 2/3;
  background-image: url("/img/jpg/toy.jpg");
}